.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1449034446853-66c86144b0ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15%;
}

.hero-text {
  text-align: center;
  color: #e3fcff;
  font-size: 3rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  text-shadow: 5px 5px 2px #000;
}

.info {
  background-color: #fff;
  border-radius: 10px;
  border: 10px solid #ed3300;
  box-shadow: 10px 10px 10px #aaa;
  line-height: 2;
  margin: 3% auto;
  padding: 2%;
  width: 70%;
  text-align: justify;
}

.welcome {
  text-align: center;
}

.welcome-2 {
  color: #ed3300;
}

@media (max-width: 625px) {
  .hero-img {
    padding: 15%;
  }

  .hero-text {
    font-size: 2rem;
  }

  .info {
    border-radius: 5px;
    border: 5px solid #ed3300;
    box-shadow: 5px 5px 5px #aaa;
    line-height: 1;
    margin: 2% auto;
    padding: 3%;
    width: 90%;
    text-align: justify;
  }
}

@media (min-width: 992px) {
  .hero-img {
    padding: 8%;
  }

  .hero-text {
    font-size: 5.625rem;
    text-shadow: 10px 10px 5px #000;
  }

  .info {
    border: 10px solid #ed3300;
    line-height: 2;
    margin: 5% auto;
    width: 50%;
    text-align: justify;
  }
}