html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #e3fcff;
  font-family: 'Merriweather Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

.list-items {
  list-style: none;
  display: block;
  margin: 0;
  padding: 7px;
  border: 1px solid #000;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.list-items:hover {
  border-color: white;
}

.link {
  color: #000;
  text-decoration: none;
}

.nav-bar {
  margin: 0;
  text-align: center;
  padding: 0;
  background-color: #ed3300;
}

.heading {
  text-align: center;
  font-weight: normal;
}

.footer {
  background-color: #ed3300;
  text-align: center;
  margin-top: auto;
}

.footer-links {
  color: #000;
  font-size: 0.75rem;
  margin: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  height: 40px;
  width: 40px;
  display: block;
  margin: 5px auto;
}

.copyright {
  color: #000;
  font-size: 0.75rem;
  margin: 0;
}

@media (max-width: 625px) {
  .list-items {
    padding: 5px;
    list-style: none;
    display: block;
    margin: 0;
    font-size: 0.75rem;
  }

  .nav-bar {
    text-align: center;
    padding: 0;
  }

  .footer-links {
    font-size: 0.7rem;
    margin: 10px;
  }

  .logo {
    height: 40px;
    width: 40px;
    margin: 2px auto;
  }

  .copyright {
    font-size: 0.70rem;
  }

}

@media (min-width: 992px) {
  .list-items {
    list-style: none;
    display: inline-block;
    margin: 25px;
    padding: 0;
    border: none;
    font-size: 1rem;
  }

  .list-items:hover {
    border-color: #000;
  }

  .link:hover {
    color: #fff;
  }
  
  .active-page {
    padding: 5px;
    border: 5px solid #000;
  }

  .nav-bar {
    padding: 1%;
    text-align: center;
  }

  .footer {
    padding: 10px 0;
  }

  .footer-links {
    margin: 20px;
  }
  .footer-links:hover {
    color: #fff;
  }
}